.product {
  vertical-align: middle;
  width: auto;
  img {
    max-height: 100%;
    width: auto;
    max-width: 100%;
  }
  .card-header {
    background-color: white;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}